Data/TbDb[[:space:]]Data/15[[:space:]]sec/Melspecs_TbDb_15sec filter=lfs diff=lfs merge=lfs -text
Data/TbCS[[:space:]]data/15[[:space:]]sec/Melspecs_tbcs_15sec filter=lfs diff=lfs merge=lfs -text
Data/TbCS[[:space:]]data/10[[:space:]]sec/Melspecs_tbcs filter=lfs diff=lfs merge=lfs -text
